body {
	color: white;
	font-family: Josefin Sans;
	font-weight: 300;
	width: 1024px;
	margin: auto;
	h1 {
		font-size: 40px;
		font-weight: 300px;
	}
	hr {
		margin-top: 170px;
		margin-bottom: 0;
	}
	.fullBackground {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
	}
	.centerDiv {
		text-align: center;
		width: 100%;
		position: relative;
	}
	.descriptionDiv {
		background: white;
		color: black;
		text-align: center;
		padding: 85px 0;
	}
	.descriptionTitle {
		font-size: 36px;
		font-weight: 300;
		margin-bottom: 38px;
	}
	.descriptionText {
		font-size: 15.25px;
		text-align: justify;
		width: 894px;
		margin: auto;
	}
	.btn {
		font-family: Niconne;
		font-size: 20px;
		border-radius: 0;
	}
	.boxTemplate {
		background-color: #f5f6f6;
		background-image: url("images/pattern-rental.png");
		background-repeat: no-repeat;
		width: 894px;
		height: 576px;
		padding: 45px 65px 45px 30px;
		margin: auto;
	}
	.imgTemplate {
		float: left;
		width: 483px;
		height: 483px;
		margin-right: 65px;
	}
	.pTemplate {
		font-size: 13.5px;
		text-align: justify;
	}
	.row {
		margin: auto;
	}
	.barText {
		color: white;
		font-size: 36px;
		font-weight: 400;
		position: absolute;
		bottom: 55px;
		left: 65px;
	}
	.whiteBar {
		background: white;
		width: 894px;
		height: 85px;
		position: absolute;
		left: 65px;
	}
	.cursiveFont {
		font-family: Niconne;
		margin-bottom: 35px;
	}
}
#mainNavbar {
	background: white;
	font-size: 14px;
	width: 1024px;
	height: 60px;
	padding: 7px 0;
	margin: auto;
	.navbar-brand {
		padding: auto;
		padding-left: 45px;
		padding-right: 5px;
	}

	.nav-link {
		color: black;
		height: 60px;
		padding: 25px 22px;
	}
	.nav-item {
		#bold-link {
			font-weight: 400;
			padding-right: 149px;
		}
		#book {
			background: #babc33;
			color: white;
			font-weight: 400;
		}
		#reg {
			background: #13322b;
			color: white;
			font-weight: 400;
		}
	}
}
#mainContent {
	#landingDiv {
		background: url("images/deer-background.png");
		height: 770px;
		.centerDiv {
			padding-top: 348px;
		}
	}
	#destination {
		background: #f5f6f6;

		.descriptionText {
			padding-bottom: 65px;
		}
	}
	#overview {
		background: url("images/mountain-overview.png");
		height: 538px;
		.centerDiv {
			padding-top: 210px;
		}
		.btn {
			margin-top: 65px;
		}
	}
	#ownerBenefits {
		padding-bottom: 0;

		img {
			margin-top: 45px;
			padding-bottom: 0;
		}
	}
	#rental {
		padding-bottom: 0;
	}
	#restaurant {
		padding-bottom: 45px;
		p {
			text-align: center;
		}
	}
	#spa {
		width: 894px;
		padding-bottom: 65px;
		margin: auto;
		.descriptionTitle {
			background: #13322b;
			color: white;
			height: 65px;
			padding: 20px;
			margin-bottom: 10px;
		}
		#gallery {
			position: relative;
			.btn {
				font-family: Niconne;
				position: absolute;
				right: 70px;
				bottom: 25px;
			}
			#wall {
				background: white;
				text-align: left;
				width: 645px;
				height: 105px;
				position: absolute;
				bottom: -10px;
				left: 30px;
				img {
					float: left;
					margin-top: 39px;
					margin-right: 21px;
					margin-left: 30px;
				}
				h1 {
					font-size: 36.16px;
					margin-top: 65px;
				}
			}
		}
	}
	#lifestyle {
		color: black;
		font-weight: 300;
		width: 770px;
		height: 265px;
		#col1 {
			width: 354px;
			float: left;
		}
		#col2 {
			width: 354px;
			float: right;
		}
	}
	#exp {
		background: url("images/landscape-xp.png");
		height: 975px;
		position: relative;
		.centerDiv {
			padding-top: 160px;
		}
		#links {
			margin-top: 65px;
			a:hover {
				background: #babc33;
				text-decoration: none;
			}
			.btn {
				font-family: Josefin Sans;
				font-size: 12px;
				border-width: 0;
				padding: 12px;
				margin-right: 15px;
			}
		}
		#sport {
			height: 448px;
			bottom: -85px;
			#sportContent {
				border: 1px solid #e5e4e4;
				height: 448px;
				padding: 65px;
				p {
					margin-bottom: 40px;
				}
				#scrollbar {
					text-align: center;
				}
			}
		}
	}
	#developer {
		padding-bottom: 0;
		.boxTemplate {
			height: 413px;
		}
		.cursiveFont {
			margin-bottom: 20px;
		}
	}
	#contact {
		padding-bottom: 0;
		p {
			text-align: center;
			margin-bottom: 30px;
		}
		#info {
			color: white;
			width: 100%;
			height: 705px;
			position: absolute;
			top: 0px;
			img {
				margin: 65px auto;
			}
			h1 {
				font-size: 32px;
			}
			p {
				margin-bottom: 20px;
			}
			#email {
				font-size: 20px;
			}
		}

		#rightContact {
			background: #13322b;
			#social {
				color: white;
				width: 100%;
				height: 148px;
				position: absolute;
				bottom: 0px;
				p {
					margin-bottom: 0;
				}
				#iconBar {
					margin: 40px auto;
					a {
						margin: 0px 22.5px;
					}
				}
			}
		}
	}
}
