body {
	color: white;
	font-family: Josefin Sans;
	font-weight: lighter;
	width: 1024px;
	margin: auto;
}

h1 {
	font-size: 40px;
}

#mainNavbar {
	font-size: 14px;
	font-weight: 300;
	background: white;
	padding: 7px 0;
	width: 1024px;
	margin: auto;
}

#mainNavbar .navbar-brand {
	margin-left: 45px;
	margin-right: 23px;
}

#mainNavbar .nav-link {
	color: black;
	padding: 0 22px;
}

#mainNavbar #bold-link {
	font-weight: 400;
	padding-right: 140px;
}

.nav-item #book {
	background: #babc33;
	color: white;
}

.nav-item #reg {
	background: #13322b;
	color: white;
}

.fullBackground {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.landingDiv {
	background: url("images/deer-background.png");
	width: 100%;
	height: 770px; /* 710-img + 60-navbar */
}

.centerDiv {
	position: relative;
	text-align: center;
	padding-top: 350px;
	width: 100%;
}

.descriptionDiv {
	background: white;
	color: black;
	text-align: center;
	padding-top: 85px;
	padding-bottom: 85px;
	font-weight: 300;
}

.descriptionTitle {
	margin-bottom: 38px;
	font-size: 36px;
	font-weight: 300;
}

.descriptionText {
	font-size: 15.25px;
	font-weight: 300;
	width: 896px;
	text-align: left;
	text-align: justify;
	margin: auto;
}

#destination {
	background: #f5f6f6;
}

#destination .descriptionText {
	padding-bottom: 85px;
}

#overview {
	background: url("images/mountain-overview.png");
	width: 100%;
	height: 538px;
}

#overview .centerDiv {
	padding-top: 210px;
}

.centerDiv h1 {
	margin-bottom: 22px;
}

.mountainText {
	font-size: 16px;
	text-align: justify;
	margin: auto;
	width: 896px;
}

#overview .btn {
	font-family: Niconne;
	font-size: 20px;
	border-radius: 0;
	margin-top: 60px;
}

#ownerBenefits {
	padding-bottom: 0;
}

#ownerBenefits img {
	width: 100%;
	margin-top: 65px;
}

#rental .descriptionText {
	margin: auto;
	background-color: #f5f6f6;
	background-image: url("images/pattern-rental.png");
	background-repeat: no-repeat;
	width: 896px;
	height: 576px;
	padding: 45px 65px 45px 30px;
}

#rental {
	padding-bottom: 0;
}

#rental img {
	float: left;
	width: 483px;
	height: 483px;
	margin-right: 65px;
}

#rental p {
	text-align: justify;
	font-size: 13.5px;
}

#restaurant {
	padding-bottom: 45px;
}

#restaurant p,
#contact p {
	text-align: center;
}

.bar img {
	width: 100%;
}

.bar a {
	position: absolute;
	color: white;
	font-size: 25px;
	font-weight: 400;
	bottom: 55px;
	left: 65px;
}

.row {
	margin: auto;
}

#spa {
	width: 896px;
	margin: auto;
	padding-bottom: 65px;
}

#spa .descriptionTitle {
	background: #13322b;
	color: white;
	height: 65px;
	padding: 20px;
	margin-bottom: 10px;
}

#gallery {
	position: relative;
}

#gallery .btn {
	font-family: Niconne;
	border-radius: 0;
	font-size: 20px;
	position: absolute;
	right: 70px;
	bottom: 25px;
}

#wall {
	width: 645px;
	height: 105px;
	position: absolute;
	bottom: -10px;
	background: white;
	left: 30px;
	text-align: left;
}

#wall img {
	margin: 40px 30px;
	float: left;
}

#wall h1 {
	font-size: 36.16px;
	margin-top: 65px;
	margin-bottom: 55px;
}

.twoCol {
	width: 770px;
	height: 265px;
	color: black;
	font-weight: 300;
	font-size: 15.25px;
}

.twoCol p {
	margin-bottom: 0;
}

#col1 {
	width: 354px;
	float: left;
}

#col2 {
	width: 354px;
	float: right;
}

#landscape {
	position: relative;
	background: url("images/landscape-xp.png");
	width: 100%;
	height: 806px;
}

#landscape .centerDiv {
	position: absolute;
	padding-top: 160px;
	top: 5px;
}

#landscape .mountainText {
	font-size: 15.7px;
}

#content {
	width: 896px;
	height: 100%;
}

#links {
	margin-top: 60px;
}

#links .btn {
	border-radius: 0;
	border-width: 0;
	font-size: 12px;
	padding: 12px 12px;
	margin-right: 15px;
}

#links a:hover {
	text-decoration: none;
	background: #babc33;
}

.whiteBar {
	background: white;
	width: 896px;
	height: 85px;
	position: absolute;
	left: 65px;
}

#vertical {
	height: 448px;
	bottom: -85px;
}

#left {
	border: 1px solid #e5e4e4;
	padding: 55px;
	height: 448px;
}

#left h1 {
	font-family: Niconne;
	margin-bottom: 35px;
}

#left p {
	margin-bottom: 35px;
}
