body {
	color: white;
	font-family: Josefin Sans;
	font-weight: 300;
	width: 1024px;
	margin: auto;
	h1 {
		font-size: 40px;
		font-weight: 300px;
	}
	hr {
		margin-top: 170px;
		margin-bottom: 0;
	}
}
