@media only screen and (min-width: 1085px) and (max-width: 1920px) {
	body {
		h1 {
			font-size: 60px;
		}
		.text-wrapper {
			font-size: 18px;
			width: 1024px;
		}
		.btn {
			font-size: 24px;
		}
		.box-template {
			background-image: url("img-default/pattern-rental.png");
			background-repeat: no-repeat;
			width: 1024px;
		}
		.img-template {
			width: 480px;
			height: 488px;
		}
	}
	#main-navbar {
		width: 100%;
		.navbar-brand {
			img {
				margin: 0 320px 0 45px;
			}
		}
	}
	#main-content {
		#landing {
			background: url("img-pc/deer-xl.png") center;
			height: 1080px;
			.center-container {
				padding-top: 500px;
				p {
					font-size: 24px;
				}
			}
		}
		#destination {
			img {
				width: 54%;
			}
		}
		#overview {
			background: url("img-pc/mountain-xl-blur.png") center no-repeat;
			height: 828px;
			.center-container {
				padding-top: 391px;
				p {
					font-size: 18px;
				}
			}
		}
		#benefits {
			img {
				height: 638px;
			}
		}
		#rental {
			.p-template {
				font-size: 17px;
			}
		}
		#spa {
			width: 1024px;
			.content-detail {
				p {
					font-size: 18px;
					width: 415px;
				}
			}
		}
		#experience {
			background: url("img-pc/landscape-xl.png") center;
			height: 868px;
			.center-container {
				p {
					font-size: 17px;
				}
			}
			#sport {
				bottom: -130px;
			}
		}
		#developer {
			.cursive-font {
				font-size: 36px;
			}
			.p-template {
				font-size: 16.5px;
			}
		}
		#contact {
			#left-contact {
				#left-contact-bg {
					width: 100%;
					height: 705px;
				}
			}
			#right-contact {
				height: 705px;
				iframe {
					height: 621px;
				}
				#social {
					height: 84px;
					#icon-bar {
						margin: 30px auto;
					}
				}
			}
		}
	}
}
