body {
	font-family: Josefin Sans;
	font-weight: 300;
	color: white;
	width: 100%;
	margin: auto;
	h1 {
		font-size: 40px;
		font-weight: 300px;
	}
	hr {
		margin: 220px auto 0 auto;
	}
	.full-background {
		background: cover no-repeat center;
		width: 100%;
	}
	.description-div {
		color: black;
		text-align: center;
		background: white;
		padding: 85px 0;
	}
	.center-container {
		text-align: center;
		width: 100%;
		position: relative;
	}
	.title-wrapper {
		font-size: 36px;
		font-weight: 300;
		margin-bottom: 38px;
	}
	.text-wrapper {
		font-size: 15.25px;
		text-align: justify;
		width: 894px;
		margin: auto;
	}
	.btn {
		font-family: Niconne;
		font-size: 20px;
		border-radius: 0;
	}
	.box-template {
		background-color: #f5f6f6;
		background-image: url("img-default/pattern-rental.png");
		background-repeat: no-repeat;
		width: 894px;
		height: 576px;
		padding: 45px 65px 45px 30px;
		margin: auto;
	}
	.img-template {
		float: left;
		width: 483px;
		height: 483px;
		margin-right: 65px;
	}
	.p-template {
		font-size: 13.5px;
		text-align: justify;
	}
	.row {
		margin: auto;
	}
	.position-text {
		font-size: 36px;
		font-weight: 400;
		color: white;
		position: absolute;
		bottom: 55px;
		left: 65px;
	}
	.empty-div {
		width: 100%;
		height: 85px;
		position: absolute;
	}
	.cursive-font {
		font-family: Niconne;
		margin-bottom: 35px;
	}
}
#main-navbar {
	font-size: 14px;
	background: white;
	width: 100%;
	height: 60px;
	padding: 0;
	margin: 0 auto;
	.navbar-brand {
		img {
			margin: 0 65px 0 45px;
		}
	}
	.nav-link {
		color: black;
		padding: 0;
	}
	.leftLinks {
		li {
			margin-right: 45px;
			a:hover {
				color: #babc33;
			}
		}
	}
	.right-links {
		height: 60px;
		font-weight: 400;
		a {
			color: white;
			text-align: center;
			line-height: 60px;
		}
	}
	#naman-res {
		font-weight: 400;
		margin-right: 0;
	}
	#en {
		a {
			font-weight: 300;
			color: black;
			text-align: center;
			padding: 0 35px;
			&:hover {
				color: #babc33;
			}
		}
	}
	#book-now {
		background: #babc33;
		a {
			padding: 0 11px;
		}
	}
	#registration {
		background: #13322b;
		a {
			padding: 0 25px;
		}
	}
}
#main-content {
	#landing {
		background: url("img-default/deer-landing.png") center;
		height: 770px;
		.center-container {
			padding-top: 348px;
		}
	}
	#destination {
		background: #f5f6f6;
		.text-wrapper {
			padding-bottom: 65px;
		}
		img {
			width: 894px;
		}
	}
	#overview {
		background: url("img-default/mountain-overview.png") center;
		height: 538px;
		.center-container {
			padding-top: 210px;
			p {
				font-size: 16px;
			}
		}
		.btn {
			margin-top: 65px;
		}
	}
	#villas {
		padding: 210px 0 0 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: center;
		}
		.position-text {
			font-family: Niconne;
			text-align: center;
			display: block;
			top: 50%;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, -50%);
		}
	}
	#benefits {
		padding-bottom: 0;
		img {
			width: 100%;
			padding-bottom: 0;
			margin-top: 55px;
		}
	}
	#rental {
		padding-bottom: 0;
	}
	#bars {
		img {
			width: 100%;
		}
	}
	#restaurant {
		padding-bottom: 45px;
		p {
			text-align: center;
		}
	}
	#spa {
		width: 894px;
		position: relative;
		z-index: 1;
		padding-bottom: 0;
		margin: auto;
		.title-wrapper {
			color: white;
			background: #13322b;
			height: 65px;
			padding: 20px;
			margin-bottom: 10px;
		}
		#gallery {
			position: relative;
			img {
				width: 100%;
			}
			.btn {
				font-family: Niconne;
				position: absolute;
				z-index: 1;
				right: 70px;
				bottom: 25px;
			}
		}
		.content-wrapper {
			width: 100%;
			margin-top: -95px;
		}
		.content {
			padding: 0 30px;
		}
		.content-title {
			text-align: left;
		}
		.content-title .title-wrap {
			background-color: white;
			padding-top: 40px;
			display: flex;
		}
		.content-title img {
			width: 90px;
			height: 55px;
			padding: 0 25px;
		}
		.content-title h1 {
			font-size: 36.16px;
			display: inline-block;
			margin: 20px 0 0 0;
		}
		.content-detail {
			text-align: justify;
			padding: 45px 0 60px 0;
			p {
				font-size: 15.25px;
				width: 354px;
			}
		}
		.content-detail div {
			padding: 0 30px;
		}
	}
	#experience {
		background: url("img-default/landscape-exp.png") center;
		height: 806px;
		position: relative;
		margin-top: -85px;
		.center-container {
			padding-top: 165px;
			p {
				font-size: 16px;
			}
		}
		#links {
			margin-top: 55px;
			a:hover {
				text-decoration: none;
				background: #babc33;
			}
			.btn {
				font-family: Josefin Sans;
				font-size: 12px;
				border-width: 0;
				padding: 12px;
				margin-right: 15px;
			}
		}
		#sport {
			height: auto;
			bottom: -170px;
			#sport-content {
				border: 1px solid #e5e4e4;
				padding: 65px;
				p {
					margin-bottom: 40px;
				}
				#scrollbar {
					text-align: center;
				}
			}
			#sport-image {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	#developer {
		padding-bottom: 0;
		.box-template {
			height: 413px;
		}
		.img-template {
			width: 480px;
			height: 325px;
		}
		.cursive-font {
			text-align: left;
			margin-bottom: 20px;
		}
		#thanhdo {
			margin-bottom: 45px;
		}
	}
	#contact {
		padding-bottom: 0;
		p {
			text-align: center;
			margin-bottom: 30px;
		}
		#left-contact {
			#info {
				color: white;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				img {
					margin: 65px auto;
				}
				h1 {
					font-size: 32px;
				}
				p {
					margin-bottom: 20px;
				}
				#naman-Logo {
					width: 164px;
				}
				#email {
					font-size: 20px;
				}
			}
		}
		#right-contact {
			background: #13322b;
			#social {
				color: white;
				width: 100%;
				height: 148px;
				position: absolute;
				bottom: 0px;
				p {
					margin-bottom: 0;
				}
				#icon-bar {
					margin: 40px auto;
					a {
						margin: 0px 16px;
						img {
							opacity: 0.5;
							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
