body {
  font-family: Josefin Sans;
  font-weight: 300;
  color: white;
  width: 100%;
  margin: auto;
}

body h1 {
  font-size: 40px;
  font-weight: 300px;
}

body hr {
  margin: 220px auto 0 auto;
}

body .full-background {
  background: cover no-repeat center;
  width: 100%;
}

body .description-div {
  color: black;
  text-align: center;
  background: white;
  padding: 85px 0;
}

body .center-container {
  text-align: center;
  width: 100%;
  position: relative;
}

body .title-wrapper {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 38px;
}

body .text-wrapper {
  font-size: 15.25px;
  text-align: justify;
  width: 894px;
  margin: auto;
}

body .btn {
  font-family: Niconne;
  font-size: 20px;
  border-radius: 0;
}

body .box-template {
  background-color: #f5f6f6;
  background-image: url("img-default/pattern-rental.png");
  background-repeat: no-repeat;
  width: 894px;
  height: 576px;
  padding: 45px 65px 45px 30px;
  margin: auto;
}

body .img-template {
  float: left;
  width: 483px;
  height: 483px;
  margin-right: 65px;
}

body .p-template {
  font-size: 13.5px;
  text-align: justify;
}

body .row {
  margin: auto;
}

body .position-text {
  font-size: 36px;
  font-weight: 400;
  color: white;
  position: absolute;
  bottom: 55px;
  left: 65px;
}

body .empty-div {
  width: 100%;
  height: 85px;
  position: absolute;
}

body .cursive-font {
  font-family: Niconne;
  margin-bottom: 35px;
}

#main-navbar {
  font-size: 14px;
  background: white;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0 auto;
}

#main-navbar .navbar-brand img {
  margin: 0 65px 0 45px;
}

#main-navbar .nav-link {
  color: black;
  padding: 0;
}

#main-navbar .leftLinks li {
  margin-right: 45px;
}

#main-navbar .leftLinks li a:hover {
  color: #babc33;
}

#main-navbar .right-links {
  height: 60px;
  font-weight: 400;
}

#main-navbar .right-links a {
  color: white;
  text-align: center;
  line-height: 60px;
}

#main-navbar #naman-res {
  font-weight: 400;
  margin-right: 0;
}

#main-navbar #en a {
  font-weight: 300;
  color: black;
  text-align: center;
  padding: 0 35px;
}

#main-navbar #en a:hover {
  color: #babc33;
}

#main-navbar #book-now {
  background: #babc33;
}

#main-navbar #book-now a {
  padding: 0 11px;
}

#main-navbar #registration {
  background: #13322b;
}

#main-navbar #registration a {
  padding: 0 25px;
}

#main-content #landing {
  background: url("img-default/deer-landing.png") center;
  height: 770px;
}

#main-content #landing .center-container {
  padding-top: 348px;
}

#main-content #destination {
  background: #f5f6f6;
}

#main-content #destination .text-wrapper {
  padding-bottom: 65px;
}

#main-content #destination img {
  width: 894px;
}

#main-content #overview {
  background: url("img-default/mountain-overview.png") center;
  height: 538px;
}

#main-content #overview .center-container {
  padding-top: 210px;
}

#main-content #overview .center-container p {
  font-size: 16px;
}

#main-content #overview .btn {
  margin-top: 65px;
}

#main-content #villas {
  padding: 210px 0 0 0;
}

#main-content #villas img {
  width: 100%;
  height: 100%;
  -o-object-fit: center;
     object-fit: center;
}

#main-content #villas .position-text {
  font-family: Niconne;
  text-align: center;
  display: block;
  top: 50%;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#main-content #benefits {
  padding-bottom: 0;
}

#main-content #benefits img {
  width: 100%;
  padding-bottom: 0;
  margin-top: 55px;
}

#main-content #rental {
  padding-bottom: 0;
}

#main-content #bars img {
  width: 100%;
}

#main-content #restaurant {
  padding-bottom: 45px;
}

#main-content #restaurant p {
  text-align: center;
}

#main-content #spa {
  width: 894px;
  position: relative;
  z-index: 1;
  padding-bottom: 0;
  margin: auto;
}

#main-content #spa .title-wrapper {
  color: white;
  background: #13322b;
  height: 65px;
  padding: 20px;
  margin-bottom: 10px;
}

#main-content #spa #gallery {
  position: relative;
}

#main-content #spa #gallery img {
  width: 100%;
}

#main-content #spa #gallery .btn {
  font-family: Niconne;
  position: absolute;
  z-index: 1;
  right: 70px;
  bottom: 25px;
}

#main-content #spa .content-wrapper {
  width: 100%;
  margin-top: -95px;
}

#main-content #spa .content {
  padding: 0 30px;
}

#main-content #spa .content-title {
  text-align: left;
}

#main-content #spa .content-title .title-wrap {
  background-color: white;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-content #spa .content-title img {
  width: 90px;
  height: 55px;
  padding: 0 25px;
}

#main-content #spa .content-title h1 {
  font-size: 36.16px;
  display: inline-block;
  margin: 20px 0 0 0;
}

#main-content #spa .content-detail {
  text-align: justify;
  padding: 45px 0 60px 0;
}

#main-content #spa .content-detail p {
  font-size: 15.25px;
  width: 354px;
}

#main-content #spa .content-detail div {
  padding: 0 30px;
}

#main-content #experience {
  background: url("img-default/landscape-exp.png") center;
  height: 806px;
  position: relative;
  margin-top: -85px;
}

#main-content #experience .center-container {
  padding-top: 165px;
}

#main-content #experience .center-container p {
  font-size: 16px;
}

#main-content #experience #links {
  margin-top: 55px;
}

#main-content #experience #links a:hover {
  text-decoration: none;
  background: #babc33;
}

#main-content #experience #links .btn {
  font-family: Josefin Sans;
  font-size: 12px;
  border-width: 0;
  padding: 12px;
  margin-right: 15px;
}

#main-content #experience #sport {
  height: auto;
  bottom: -170px;
}

#main-content #experience #sport #sport-content {
  border: 1px solid #e5e4e4;
  padding: 65px;
}

#main-content #experience #sport #sport-content p {
  margin-bottom: 40px;
}

#main-content #experience #sport #sport-content #scrollbar {
  text-align: center;
}

#main-content #experience #sport #sport-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-content #developer {
  padding-bottom: 0;
}

#main-content #developer .box-template {
  height: 413px;
}

#main-content #developer .img-template {
  width: 480px;
  height: 325px;
}

#main-content #developer .cursive-font {
  text-align: left;
  margin-bottom: 20px;
}

#main-content #developer #thanhdo {
  margin-bottom: 45px;
}

#main-content #contact {
  padding-bottom: 0;
}

#main-content #contact p {
  text-align: center;
  margin-bottom: 30px;
}

#main-content #contact #left-contact #info {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

#main-content #contact #left-contact #info img {
  margin: 65px auto;
}

#main-content #contact #left-contact #info h1 {
  font-size: 32px;
}

#main-content #contact #left-contact #info p {
  margin-bottom: 20px;
}

#main-content #contact #left-contact #info #naman-Logo {
  width: 164px;
}

#main-content #contact #left-contact #info #email {
  font-size: 20px;
}

#main-content #contact #right-contact {
  background: #13322b;
}

#main-content #contact #right-contact #social {
  color: white;
  width: 100%;
  height: 148px;
  position: absolute;
  bottom: 0px;
}

#main-content #contact #right-contact #social p {
  margin-bottom: 0;
}

#main-content #contact #right-contact #social #icon-bar {
  margin: 40px auto;
}

#main-content #contact #right-contact #social #icon-bar a {
  margin: 0px 16px;
}

#main-content #contact #right-contact #social #icon-bar a img {
  opacity: 0.5;
}

#main-content #contact #right-contact #social #icon-bar a img:hover {
  opacity: 1;
}
/*# sourceMappingURL=tablet.css.map */