body {
  font-family: Josefin Sans;
  font-weight: 300;
  color: white;
  width: 100%;
  margin: auto;
}

body h1 {
  font-size: 40px;
  font-weight: 300px;
}

body hr {
  margin: 220px auto 0 auto;
}

body .fullBackground {
  background: cover no-repeat center;
  width: 100%;
}

body .centerDiv {
  text-align: center;
  width: 100%;
  position: relative;
}

body .descriptionDiv {
  color: black;
  text-align: center;
  background: white;
  padding: 85px 0;
}

body .descriptionTitle {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 38px;
}

body .descriptionText {
  font-size: 15.25px;
  text-align: justify;
  padding: 0 6.5%;
  margin: auto;
}

body .btn {
  font-family: Niconne;
  font-size: 20px;
  border-radius: 0;
}

body .boxTemplate {
  background-color: #f5f6f6;
  background-image: url("img-default/pattern-rental.png");
  background-repeat: no-repeat;
  width: 894px;
  height: 576px;
  padding: 45px 65px 45px 30px;
  margin: auto;
}

body .imgTemplate {
  float: left;
  width: 483px;
  height: 483px;
  margin-right: 65px;
}

body .pTemplate {
  font-size: 13.5px;
  text-align: justify;
}

body .row {
  margin: auto;
}

body .barText {
  font-size: 36px;
  font-weight: 400;
  color: white;
  position: absolute;
  bottom: 55px;
  left: 65px;
}

body .whiteBar {
  width: 100%;
  height: 85px;
  position: absolute;
}

body .cursiveFont {
  font-family: Niconne;
  margin-bottom: 35px;
}

#mainNavbar {
  font-size: 14px;
  background: white;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0 auto;
}

#mainNavbar .navbar-brand img {
  margin: 0 65px 0 45px;
}

#mainNavbar .nav-link {
  color: black;
  padding: 0;
}

#mainNavbar .leftLinks li {
  margin-right: 45px;
}

#mainNavbar .leftLinks li a:hover {
  color: #babc33;
}

#mainNavbar .rightLinks {
  height: 60px;
  font-weight: 400;
}

#mainNavbar .rightLinks a {
  color: white;
  text-align: center;
  line-height: 60px;
}

#mainNavbar #namanRes {
  font-weight: 400;
  margin-right: 0;
}

#mainNavbar #en a {
  font-weight: 300;
  color: black;
  text-align: center;
  padding: 0 35px;
}

#mainNavbar #en a:hover {
  color: #babc33;
}

#mainNavbar #bookNow {
  background: #babc33;
}

#mainNavbar #bookNow a {
  padding: 0 11px;
}

#mainNavbar #registration {
  background: #13322b;
}

#mainNavbar #registration a {
  padding: 0 25px;
}

#mainContent #landingDiv {
  background: url("img-default/deer-background.png") center;
  height: 770px;
}

#mainContent #landingDiv .centerDiv {
  padding-top: 348px;
}

#mainContent #destination {
  background: #f5f6f6;
}

#mainContent #destination .descriptionText {
  padding-bottom: 65px;
}

#mainContent #destination img {
  width: 87%;
}

#mainContent #overview {
  background: url("img-default/mountain-overview.png") center;
  height: 538px;
}

#mainContent #overview .centerDiv {
  padding-top: 210px;
}

#mainContent #overview .centerDiv p {
  font-size: 16px;
}

#mainContent #overview .btn {
  margin-top: 65px;
}

#mainContent #ownerBenefits {
  padding-bottom: 0;
}

#mainContent #ownerBenefits img {
  width: 100%;
  padding-bottom: 0;
  margin-top: 55px;
}

#mainContent #rental {
  padding-bottom: 0;
}

#mainContent #bars img {
  width: 100%;
}

#mainContent #bars img:hover {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

#mainContent #restaurant {
  padding-bottom: 45px;
}

#mainContent #restaurant p {
  text-align: center;
}

#mainContent #spa {
  width: 894px;
  position: relative;
  z-index: 1;
  padding-bottom: 0;
  margin: auto;
}

#mainContent #spa .descriptionTitle {
  color: white;
  background: #13322b;
  height: 65px;
  padding: 20px;
  margin-bottom: 10px;
}

#mainContent #spa #gallery {
  position: relative;
}

#mainContent #spa #gallery img {
  width: 100%;
}

#mainContent #spa #gallery .btn {
  font-family: Niconne;
  position: absolute;
  z-index: 1;
  right: 70px;
  bottom: 25px;
}

#mainContent #spa .content-wrapper {
  width: 100%;
  margin-top: -95px;
}

#mainContent #spa .content {
  padding: 0 30px;
}

#mainContent #spa .content-title {
  text-align: left;
}

#mainContent #spa .content-title .title-wrap {
  background-color: white;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mainContent #spa .content-title img {
  width: 90px;
  height: 55px;
  padding: 0 25px;
}

#mainContent #spa .content-title h1 {
  font-size: 36.16px;
  display: inline-block;
  margin: 20px 0 0 0;
}

#mainContent #spa .content-detail {
  text-align: justify;
  padding: 45px 0 60px 0;
}

#mainContent #spa .content-detail p {
  font-size: 15.25px;
  width: 354px;
}

#mainContent #spa .content-detail div {
  padding: 0 30px;
}

#mainContent #exp {
  background: url("img-default/landscape-xp.png") center;
  height: 806px;
  position: relative;
  margin-top: -85px;
}

#mainContent #exp .centerDiv {
  padding-top: 165px;
}

#mainContent #exp .centerDiv p {
  font-size: 16px;
}

#mainContent #exp #links {
  margin-top: 55px;
}

#mainContent #exp #links a:hover {
  text-decoration: none;
  background: #babc33;
}

#mainContent #exp #links .btn {
  font-family: Josefin Sans;
  font-size: 12px;
  border-width: 0;
  padding: 12px;
  margin-right: 15px;
}

#mainContent #exp #sport {
  height: 448px;
  bottom: -140px;
}

#mainContent #exp #sport #sportContent {
  border: 1px solid #e5e4e4;
  height: 448px;
  padding: 65px;
}

#mainContent #exp #sport #sportContent p {
  margin-bottom: 40px;
}

#mainContent #exp #sport #sportContent #scrollbar {
  text-align: center;
}

#mainContent #exp #sport #sportImage img {
  width: 100%;
  height: 448px;
}

#mainContent #developer {
  padding-bottom: 0;
}

#mainContent #developer .boxTemplate {
  height: 413px;
}

#mainContent #developer .imgTemplate {
  width: 480px;
  height: 325px;
}

#mainContent #developer .cursiveFont {
  margin-bottom: 20px;
}

#mainContent #developer #thanhDo {
  margin-bottom: 45px;
}

#mainContent #contact {
  padding-bottom: 0;
}

#mainContent #contact p {
  text-align: center;
  margin-bottom: 30px;
}

#mainContent #contact #leftContact #info {
  color: white;
  width: 100%;
  height: 705px;
  position: absolute;
  top: 0px;
}

#mainContent #contact #leftContact #info img {
  margin: 65px auto;
}

#mainContent #contact #leftContact #info h1 {
  font-size: 32px;
}

#mainContent #contact #leftContact #info p {
  margin-bottom: 20px;
}

#mainContent #contact #leftContact #info #namanLogo {
  width: 164px;
}

#mainContent #contact #leftContact #info #email {
  font-size: 20px;
}

#mainContent #contact #rightContact {
  background: #13322b;
}

#mainContent #contact #rightContact #social {
  color: white;
  width: 100%;
  height: 148px;
  position: absolute;
  bottom: 0px;
}

#mainContent #contact #rightContact #social p {
  margin-bottom: 0;
}

#mainContent #contact #rightContact #social #iconBar {
  margin: 40px auto;
}

#mainContent #contact #rightContact #social #iconBar a {
  margin: 0px 16px;
}

#mainContent #contact #rightContact #social #iconBar a img {
  opacity: 0.5;
}

#mainContent #contact #rightContact #social #iconBar a img:hover {
  opacity: 1;
}
/*# sourceMappingURL=tablet.css.map */